* {
  box-sizing: border-box;
}
:root {
  --first: hsl(227, 10%, 46%);
  --second: white;
  --third: hsl(185, 75%, 39%);
  --forth: hsl(147, 87%, 85%);
  --fifth: hsl(0, 0%, 59%);
}
body {
  font: normal 18px 'Kumbh Sans', sans-serif;
  background-color: var(--third);
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
img#top {
  position: fixed;
  top: -68%;
  left: -15%;
  z-index: -1;
}
img#bot {
  position: fixed;
  bottom: -84%;
  right: -13%;
  z-index: -1;
}
section img:first-child {
  border-radius: 0.8rem 0.8rem 0 0;
}
section img#card {
  width: 30%;
  margin: 0 auto 1rem;
  border: 0.3rem solid var(--second);
  border-radius: 50%;
  position: absolute;
  left: 35%;
  top: 5rem;
  /* IDK why, but there is a little bit green color between border and picture */
  background-color: var(--second);
}
section {
  margin: 11.5rem 0 8rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--second);
  border-radius: 0.8rem;
  position: relative;
  box-shadow: 0px 0px 25px 2px var(--first);
}
h1 {
  margin-top: 4.5rem;
  font-weight: bold;
}
h1 span {
  color: var(--first);
  font-weight: normal;
}
main p {
  font-size: 0.8rem;
  color: var(--first);
  margin: 0.6rem 0 0rem;
  border-bottom: 0.2px solid #dadada;
  padding-bottom: 1.5rem;
}

table {
  margin: 1.5rem 1rem 1.3rem;
  width: 90%;
}
tr > * {
  width: calc(100% / 3);
}
td {
  font-weight: bold;
}
table th {
  padding-top: 0.5rem;
  font-size: 0.55rem;
  color: var(--first);
  letter-spacing: 1px;
}
footer p {
  font-family: 'Yellowtail', cursive;
  color: var(--second);
  letter-spacing: 1px;
}
footer a {
  text-decoration: none;
  color: var(--forth);
}
@media (max-width: 375px) {
  section {
    width: 80%;
  }
}
