* {
  box-sizing: border-box;
}
:root {
  --first: hsl(227, 10%, 46%);
  --second: white;
  --third: hsl(185, 75%, 39%);
  --forth: hsl(147, 87%, 85%);
}
html {
  font: normal 18px 'Kumbh Sans', sans-serif;
}
body {
  background-color: var(--third);
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
img#top {
  position: fixed;
  top: -73%;
  left: -15%;
  z-index: -1;
}
img#bot {
  position: fixed;
  bottom: -78%;
  right: -15%;
  z-index: -1;
}
section img:first-child {
  border-radius: 0.8rem 0.8rem 0 0;
}
section img#card {
  width: 30%;
  margin: 0 auto 1rem;
  border: 5px solid var(--second);
  border-radius: 50%;
  position: absolute;
  left: 35%;
  top: 5rem;
  /* IDK why, but there is a little bit green color between border and picture */
  background-color: var(--second);
}
section {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5vh;
  background-color: var(--second);
  border-radius: 0.8rem;
  position: relative;
}
h1 {
  margin-top: 4.5rem;
  font-weight: bold;
}
h1 span {
  color: var(--first);
  font-weight: normal;
}
h2 {
  font-size: 0.8rem;
  color: var(--first);
  margin: 0.6rem 0 1rem;
}
hr {
  width: 100%;
  border-top: 1px solid var(--second);
}
th {
  font-weight: bold;
}
table {
  margin: 1rem 1rem 1.3rem;
}
table td {
  padding-top: 0.5rem;
  font-size: 0.65rem;
  color: var(--first);
  letter-spacing: 1px;
}
footer p {
  font-family: 'Yellowtail', cursive;
  color: var(--second);
  letter-spacing: 1px;
}
footer a {
  text-decoration: none;
  color: var(--forth);
}
@media (max-width: 375px) {
  section {
    width: 80%;
  }
}
