* {
  box-sizing: border-box;
}
html {
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
section {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  margin: auto;
  vertical-align: auto;
  padding: center;
  background-color: white;
  border-radius: 0.8rem;
  position: relative;
}
section img {
  width: 30%;
  border-radius: 50%;
  border: 4px solid white;
  margin: 0 auto 1rem;
  position: absolute;
  left: 35%;
  top: 5rem;
}
table th,
table td {
  text-align: center;
}
h1,
h2 {
  /* text-align: center; */
  margin: 0 auto 1rem;
}
table td {
  padding-top: 0.5rem;
  font-size: 0.65rem;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1px;
}
h1 span,
h2 {
  color: hsl(227, 10%, 46%);
  font-weight: normal;
}
h2 {
  font-size: 0.8rem;
}
h1,
th {
  font-weight: bold;
}
table {
  margin: 1rem;
}
hr {
  width: 100%;
  border-top: 1px solid white;
}
svg {
  border-radius: 0.8rem 0.8rem 0 0;
}
h1 {
  margin-top: 4rem;
}
